@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&family=Poppins&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'poppins';
}

input {
  margin-bottom: 10px;
  padding: 5px;
  width: fit-content;
}

#button {
  border: 1px solid black;
  cursor: pointer;
  width: fit-content;
  margin-bottom: 10px;
}
body {
  display: grid;
  justify-content: center;
}
